header{
  width: 100%;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.headerTxt{
  margin: 0;
  font-size: 32px;
  font-weight: 700;
}